body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-sm: 14px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray-100: #5b5b5b;
  --color-dimgray-200: #5c5151;
  --color-black: #000;
  --color-lightblue-100: #add8e6;
  --color-lightblue-200: rgba(173, 216, 230, 0.5);
  --color-gray-100: #838383;

  /* Gaps */
  --gap-39xl: 58px;
  --gap-122xl: 141px;

  /* Paddings */
  --padding-5xs: 8px;
  --padding-21xl: 40px;
  --padding-mini: 15px;
  --padding-12xl: 31px;
  --padding-2xs: 11px;

  /* border radiuses */
  --br-8xs: 5px;
  --br-3xs: 10px;
  --br-152xl: 171px;
}
