.teman-2-removebg-preview-2-icon {
  position: absolute;
  top: 0;
  left: 22px;
  border-radius: var(--br-152xl);
  width: 308px;
  height: 137px;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

.catalog,
.detection {
  position: relative;
  font-weight: 500;
}
.detection {
  font-weight: 600;
  color: var(--color-black);
}
.catalog-parent {
  position: absolute;
  top: 72.5px;
  left: 787px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-122xl);
}
.line-2-stroke {
  position: absolute;
  top: 160.5px;
  left: 0;
  width: 1512.02px;
  height: 1px;
}
.teman-2-removebg-preview-2-parent {
  position: relative;
  width: 1512.02px;
  height: 161.5px;
}
.upload-supporting-file {
  position: relative;
}
.group-child {
  left: 0;
  border-radius: var(--br-3xs);
  background-color: transparent;
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 1352px;
}
.group-child,
.group-item,
.rectangle-parent {
  position: absolute;
  top: 0;
  height: 81px;
}
.group-item {
  left: 1130px;
  border-radius: 0 var(--br-3xs) var(--br-3xs) 0;
  background-color: var(--color-lightblue-100);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 222px;
}
.rectangle-parent {
  left: 0;
  width: 1352px;
}
.browse-file {
  position: absolute;
  top: 26px;
  left: 1174px;
  font-weight: 600;
}
.group-container {
  position: relative;
  width: 1352px;
  height: 81px;
  color: var(--color-white);
}
.upload-supporting-file-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}
.etupload-icon {
  position: relative;
  width: 113px;
  height: 86px;
  overflow: hidden;
  flex-shrink: 0;
}
.etupload-parent,
.frame-group,
.frame-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.etupload-parent {
  align-items: center;
  gap: 28px;
}
.frame-group,
.frame-wrapper {
  align-items: flex-start;
}
.frame-wrapper {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  overflow: hidden;
  padding: 70px 555px;
  color: var(--color-dimgray-100);
}
.frame-group {
  gap: 24px;
}
.result {
  position: relative;
  font-weight: 600;
}
.group-inner,
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
}
.group-inner {
  background-color: var(--color-white);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
  width: 1352px;
  height: 409px;
}
.rectangle-div {
  background-color: var(--color-lightblue-200);
  width: 250px;
  height: 257px;
}
.crewneck-wrapper {
  position: absolute;
  top: 197px;
  left: 28px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-21xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.image-8-icon {
  position: absolute;
  top: 15px;
  left: 28px;
  width: 189px;
  height: 189px;
  object-fit: cover;
}
.rectangle-container {
  position: absolute;
  top: 76px;
  left: 79px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  width: 250px;
  height: 257px;
}
.crewneck1 {
  position: absolute;
  top: 76px;
  left: 381px;
  font-size: 40px;
  font-weight: 600;
}
.crewnecks-are-typically {
  margin: 0;
}
.crewnecks-are-typically-container {
  position: absolute;
  top: 152px;
  left: 381px;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-dimgray-100);
  display: inline-block;
  width: 879px;
}
.rectangle-group {
  position: relative;
  width: 1352px;
  height: 409px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.result-parent {
  align-items: center;
  gap: 33px;
  text-align: center;
  font-size: 36px;
  color: var(--color-dimgray-100);
}
.frame-parent,
.group-parent,
.result-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent {
  align-items: flex-start;
  gap: 134px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.group-parent {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  gap: var(--gap-39xl);
}
.macbook-pro-14-2 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1326px;
  overflow-y: auto;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray-200);
  font-family: var(--font-inter);
}


.teman-2-removebg-preview-2-icon3 {
  position: absolute;
  top: 0;
  left: 21.99px;
  border-radius: var(--br-152xl);
  width: 308px;
  height: 137px;
  object-fit: cover;
}
.catalog3 {
  position: relative;
  font-weight: 600;
  color: var(--color-black);
}
.detection3 {
  position: relative;
  font-weight: 500;
}
.catalog-parent1 {
  position: absolute;
  top: 72.5px;
  left: 786.99px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-122xl);
}
.line-2-stroke3 {
  position: absolute;
  top: 160.5px;
  left: 0.01px;
  width: 1512.02px;
  height: 1px;
}
.group-div {
  position: relative;
  width: 1512.02px;
  height: 161.5px;
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-lightblue-200);
  width: 250px;
  height: 257px;
}
.image-9-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 226px;
  height: 226px;
  object-fit: cover;
}
.celana-jeans {
  position: relative;
}
.celana-jeans-wrapper {
  position: absolute;
  top: 195px;
  left: 28px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) 17px;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-parent3 {
  position: relative;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  width: 250px;
  height: 257px;
}
.sandal-trial-wrapper {
  position: absolute;
  top: 195px;
  left: 28px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) 28px;
  align-items: flex-start;
  justify-content: flex-start;
}
.image-2-icon,
.image-3-icon {
  position: absolute;
  top: 77px;
  left: 34px;
  width: 200px;
  height: 97px;
  object-fit: cover;
}
.image-3-icon {
  top: 16px;
  left: 48px;
  width: 153px;
  height: 195px;
}
.celana-trouser-wrapper,
.sepatu-athletic-wrapper {
  position: absolute;
  top: 195px;
  left: 28px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-2xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.sepatu-athletic-wrapper {
  padding: var(--padding-5xs) 10px;
}
.image-4-icon1 {
  position: absolute;
  top: 18px;
  left: 38px;
  width: 178px;
  height: 178px;
  object-fit: cover;
}
.group-parent2,
.kaos-stripe-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent2 {
  gap: var(--gap-39xl);
}
.kaos-stripe-wrapper {
  position: absolute;
  top: 197px;
  left: 28px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  padding: var(--padding-5xs) var(--padding-12xl);
}
.image-5-icon {
  position: absolute;
  top: 23px;
  left: 38px;
  width: 174px;
  height: 164px;
  object-fit: cover;
}
.sepatu-basket-wrapper {
  position: absolute;
  top: 197px;
  left: 28px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-mini);
  align-items: flex-start;
  justify-content: flex-start;
}
.image-6-icon {
  position: absolute;
  top: 46px;
  left: 33px;
  width: 189px;
  height: 117px;
  object-fit: cover;
}
.kemeja-flannel-wrapper {
  position: absolute;
  top: 197px;
  left: 28px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-2xs);
  align-items: flex-start;
  justify-content: flex-start;
}
.image-7-icon1 {
  position: absolute;
  top: 17px;
  left: 37px;
  width: 176px;
  height: 176px;
  object-fit: cover;
}
.crewneck-container {
  position: absolute;
  top: 197px;
  left: 28px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-21xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.image-8-icon2 {
  position: absolute;
  top: 15px;
  left: 28px;
  width: 189px;
  height: 189px;
  object-fit: cover;
}
.frame-parent4,
.group-parent1 {
  display: flex;
  flex-direction: column;
}
.frame-parent4 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.group-parent1 {
  position: absolute;
  top: 12px;
  left: 0;
  width: 1512px;
  align-items: center;
  justify-content: center;
  gap: 84px;
}
.macbook-pro-14-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray-200);
  font-family: var(--font-inter);
}

.teman-2-removebg-preview-2-icon2 {
  position: absolute;
  top: 0;
  left: 22px;
  border-radius: var(--br-152xl);
  width: 308px;
  height: 137px;
  object-fit: cover;
}
.detection2 {
  position: relative;
  font-weight: 600;
  color: var(--color-black);
}
.catalog-container {
  position: absolute;
  top: 72.5px;
  left: 787px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-122xl);
}
.line-2-stroke2 {
  position: absolute;
  top: 160.5px;
  left: 0.01px;
  width: 1512.02px;
  height: 1px;
}
.teman-2-removebg-preview-2-container,
.teman-bagaya-1 {
  position: relative;
  width: 1512.02px;
  height: 161px;
}
.teman-bagaya-1 {
  width: 615px;
  height: 475px;
  object-fit: cover;
}
.upload-image {
  position: relative;
  font-weight: 600;
}
.upload-image-wrapper {
  border-radius: 25px;
  background-color: var(--color-lightblue-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 18px var(--padding-12xl);
  align-items: flex-start;
  justify-content: flex-start;
}
.or-drop-a {
  position: relative;
  font-weight: 500;
}
.url {
  text-decoration: underline;
}
.paste-image-or-container {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 500;
}
.or-drop-a-file-parent {
  align-items: center;
  gap: 16px;
  font-size: var(--font-size-5xl);
  color: var(--color-dimgray-100);
}
.frame-parent3,
.frame-wrapper1,
.or-drop-a-file-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent3 {
  align-items: center;
  gap: 32px;
}
.frame-wrapper1 {
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  padding: 53px 145px;
  align-items: flex-start;
}
.no-image {
  margin: 0;
}
.frame-item {
  position: relative;
  border-radius: var(--br-8xs);
  width: 65px;
  height: 65px;
  object-fit: cover;
}
.no-image-try-one-of-these-parent,
.rectangle-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.no-image-try-one-of-these-parent {
  align-items: center;
  gap: 44px;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-100);
}
.frame-parent2 {
  flex-direction: column;
  gap: var(--gap-39xl);
}
.frame-parent1,
.frame-parent2,
.macbook-pro-14-3,
.teman-bagaya-1-parent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.teman-bagaya-1-parent {
  flex-direction: row;
  gap: 104px;
  color: var(--color-white);
}
.frame-parent1,
.macbook-pro-14-3 {
  flex-direction: column;
}
.frame-parent1 {
  gap: 129px;
}
.macbook-pro-14-3 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray-200);
  font-family: var(--font-inter);
}

.teman-2-removebg-preview-2-icon1 {
  position: absolute;
  top: 0;
  left: 22px;
  border-radius: var(--br-152xl);
  width: 308px;
  height: 137px;
  object-fit: cover;
}
.detection1 {
  position: relative;
  font-weight: 600;
  color: var(--color-black);
}
.catalog-group {
  position: absolute;
  top: 72.5px;
  left: 787px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-122xl);
}
.line-2-stroke1 {
  position: absolute;
  top: 160.5px;
  left: 0;
  width: 1512.02px;
  height: 1px;
}
.teman-2-removebg-preview-2-group {
  position: relative;
  width: 1512.02px;
  height: 161.5px;
}
.frame-child {
  border-radius: 15px;
  width: 464px;
  height: 653px;
  object-fit: cover;
}
.frame-child,
.jeans {
  position: relative;
}
.with-jeans-you {
  margin: 0;
}
.with-jeans-you-container {
  position: relative;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-200);
  display: inline-block;
  width: 724px;
}
.match-with {
  position: relative;
  font-weight: 500;
}
.image-4-icon,
.image-7-icon,
.image-8-icon1 {
  position: relative;
  width: 76px;
  height: 76px;
  object-fit: cover;
}
.image-7-icon,
.image-8-icon1 {
  width: 67px;
  height: 67px;
}
.image-7-icon {
  width: 71px;
  height: 71px;
}
.image-4-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 49px;
}
.frame-container,
.jeans-parent,
.match-with-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-container,
.jeans-parent {
  align-items: flex-start;
}
.frame-container {
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid #d9d9d9;
  overflow: hidden;
  padding: var(--padding-mini) var(--padding-12xl);
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.jeans-parent {
  gap: 63px;
}
.frame-div,
.rectangle-parent1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-parent1 {
  flex-direction: row;
  gap: 69px;
  font-size: 64px;
  color: #262626;
}
.frame-div {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  gap: 79px;
}
.macbook-pro-14-4 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-dimgray-200);
  font-family: var(--font-inter);
}
